
<div class="ui small labeled icon inverted menu">
  <div class="ui container">
    <%= link_to root_path, :class=> "item" do %>
      <i class="wechat icon"></i>Chatroom
    <% end %>
    <%= link_to root_path, :class=> "item" do %>
      <i class="envelope icon"></i>Messages
    <% end %>

    <div class="right menu">
      <div class="ui dropdown">
        <%= link_to root_path, :class=> "item ui dropdown" do %>
           <i class="settings icon"></i>Account
        <% end %>
        <div class="menu">
          <% if logged_in? %>
            <%= link_to 'Log out', logout_path, class:"item", method: :delete %>
          <% else %>
           <%= link_to 'Log in', login_path, class:"item" %>
          <% end %>
        </div>
      </div>
      <% if !logged_in? %>
      <%= link_to login_path, :class=> "item" do %>
        <i class="user icon"></i>Sign up
      <% end %>
      <% end %>
    </div>
  </div>
</div>
